
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/comments/edit.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 
<body>

<Main><h1>Edit Comment</h1>
    <form action="/comments/<%= comment._id%>?_method=PUT" method="POST">
    <p>
        <textarea type="text" name="comment" autofocus="true" ><%= comment.comment %>
        </textarea>
    </p>
    <input type="submit" value="Update Comment" />
    </form>

</main>
</body>
