<h1>Create comment</h1>

<form id="add-comment-form" method="POST" action="/dreams/:id/comment">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add comment">
  </form>