<h1>Create comment</h1>

<form id="add-comment-form" method="POST" action="/comments/:id/create">
    <input type="hidden" name="Dreamer" value="<%= dreamerId %>"/>
    <input type="hidden" name="ActiveDream" value="<%= dreamId %>"/>
    <label>Comment:</label>
    <textarea name="comment"></textarea>
    <input type="submit" value="Add comment">
  </form>