<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/comments/new.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 
<body>
      <div class = "banner-text">
        
      </div>
<div class="animation-area">
    <div class="nav">
        <div id="logo">
        </div>
            <ul id="nav">
                <%// if (user) { %>
                    <li><a href="/dreams">Home</a></li>
                    <li><a href="/dreamers/<%= //user._id %>">Profile</a></li>
                    <li><a href="/how-to">How-To</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Log Out</a></li>
                <% //} else { %>
                    <li><a href="/auth/google">Login with Google</a></li>
                <% //} %>
            </ul>
    </div>

        
<% if(user) { %>
  <h1 class="create-comment">Create comment</h1>
<div class="new-comment-form">
  <form action="/comments/:id/create" method="POST" >
    <!-- action="/comments/:id/create" -->
    <input type="hidden" name="Dreamer" value="<%= user.id %>"/>

    <input type="hidden" name="ActiveDream" value="<%= dreamId %>"/>

    <label>Comment:</label>

    <textarea type="type" name="comment" placeholder="Leave your comment here!"></textarea>

    <input type="hidden" name="name" value="<%= user.name %>"/>

    <input type="submit" value="Add comment"/>
    
  </form>
</div>
<% } else { %> 
  <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
<% } %>
</body>
</div>

