<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/about.css">

    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 

<body> 
<div class="animation-area">
<div class="about-nav">
    <% if (user) { %> 
        <a href="/dreams"><div id="logo"></div></a>
    <% } else { %>
        <a href="/"><div id="logo"></div></a> %>
    <% } %>
    <ul id="nav">
        <% if (user) { %>
            <li><a href="/dreams">Home</a></li>
            <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout">Log Out</a></li>
        <% }%>

        
    </ul>
</div>
    <h1 id="about">About</h1>
    <div class="about-form">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H2rG4Dg6xyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <p style="font-size:large; text-align: justify;"><span style="font-family: Stardos Stencil, cursive; font-size: 25px">Dreamweaver</span> is an app designed to encourage users to pursue their dream with community support. It was inspired by Barbara Sher's TED talk titled "Isolation is the dream-killer, not your attitude". Sher's talk suggests engaging in success teams: groups of people who work together to make each others' dreams come true. In this app, community members can see, comment on, and encourage other users' goals.
            <br><br>
        There are times when everyone gets tired. In those times, when someone needs extra support, their community members can step in: posting comments of encouragement or personal stories of their journey, encouraging others to persist in the pursuit of their dreams. This app is for people who value the setting and accomplishing of dreams, be it their own or a complete stranger's. </p>
        <br><br>
        <div id="how-to">
            <h2>How to use Dream Weaver:</h2>
            <h3>Step 1</h3>
            <p>Sign up using your Google account.</p>
            <br>
            <h3>Step 2</h3>
            <p>Navigate to your profile to draft your bio and publish your dreams.</p>
            <br>
            <h3>Step 3</h3>
            <p>Navigate to the home page to discover other users' dreams and help them become reality!</p>
            <br>
            <h3>Helpful tips:</h3>
            <ol>
                <li>When commenting on another's dream, consider focusing on being inspirational, giving helpful advice, or letting them know that you can help them achieve their dream by offering something they don't have.
                </li>
                <li>
                    Check your profile to see whether there are comments on your dreams--click on the dream itself to see your community's support!
                </li>
                <li> 
                    Having trouble coming up with a dream? Go <span><a href="https://barbarasclub.com/how-to-get-what-you-really-want/">here</a></span> for assistance.
                </li>
            </ol> </p>
        </div>
    </div>
    <div id="home-button">
        <% if(user) { %> 
            <a href="/dreamers/<%= user.id %>" id='home-link'><button id="home">Profile</button></a> 
        <% } else { %>
            <a href="/home" id='home-link'><button id="home">Back</button></a> 
        <% } %> 
           
    </div>
</body>
