<%- include ('./partials/header') %>

<body>


<div class = "banner-text">
    <!-- <h1>we are awesome!!!!!!</h1> -->
    <h1>DREAMWEAVER</h1>

</div>
<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

</body>

<%- include ('./partials/footer') %>