<%- include ('./partials/header') %>

<body>

<h1>we are awesome!!!!!!</h1>

<ul>
	<li>
	<% if (user) { %>
		<a href="/logout"><i>trending_flat</i>Log Out</a>
	<% } else { %>
		<a href="/auth/google">Login with Google</a>
	<% } %>
	</li>
</ul>
</body>

<%- include ('./partials/footer') %>