<%- include ('../partials/header') %>

<body>
<% if(user) { %>  
    <h1>How-to Page</h1>
    <a href="/home">Home</a>
<% } else { %> 
    <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
<% } %> 
</body>

<%- include ('../partials/footer') %>