<%- include ('../partials/header') %>

<body>
    <a href="/">Home</a>
    <h1>Dreamer Profile</h1>
    <h3>Name</h3>
    <p><%= user.name %></p>
    <h3>Email</h3>
    <p><%= user.email %></p>
</body>

<%- include ('../partials/footer') %>