.box-area {
    min-height: 100vh;
    min-width: 100vw;
    /* height: fit-content; */
    overflow: hidden;
    width: fit-content;
}


.dream-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px black solid;
    border-radius: 30px;
    padding: 50px;
    margin: 20px 200px;
}

h3 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 25px;
}

h4 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

/* .box-area {
    overflow: hidden;
} */

#title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}
.one-comment {
    background-color: #ffffff80;
    padding: 1px 8px;
    border-radius: 20px;
    /* width: 42vw; */
    width: 80%;
    margin: 10px 10%;
    margin-bottom: 5px;
    justify-self: center;
    
}
.name {
    font-weight:bold;
    margin-right: 5px;
}

ul {
    list-style: none;
}

#obstacles-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obstacles, .comments {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    box-sizing: border-box;
    width: 80%;
    margin: 15px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 5px;
    align-content: center;
}

.obstacle-list {
    margin: 10px;
    font-size: 20px;
}
.comment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

a {
    text-decoration: none;
    display: flex;
}
.leave-comment {
    display: flex;
    /* margin-top: 20px; */
}

.leave-comments {
    display:flex;
    font-size: 20px;
    margin-top: auto;
    padding: 10px;
    background-color:#ffffff80;
    justify-content: end;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px black solid;
    float:right;
}

.leave-comments:hover {
    background-color: #ffffff;
}

.buttons {
    display: flex;
    margin-left: 200px;
    /* font-size: 15px;
    margin-right: auto;
    margin-top: auto;
    padding: 10px;
    border: 0px;
    background-color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.edit {
    display: flex;
    font-size: 15px;
    margin-left: 40vw auto;
    border: 0px;
    background-color: transparent;
    margin-right: 10px;
}

.delete {
    display: flex;
    font-size: 15px;
    margin: 0 5px 0 auto;
    margin-left: 40vw auto;
    border: 0px;
    background-color: transparent;
}

#edit-dream, #delete-dream {
    display: flex;
    font-size: 20px;
    margin-right: auto;
    margin-top: auto;
    padding: 10px;
    background-color: #ffffff80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left: 10px;
    border: 1px black solid;
}

#edit-dream:hover, #delete-dream:hover,  .leave-comments:hover {
    background-color: #ffffff
}

.edit:hover, .delete:hover, .comment:hover {
    background-color: lightgrey;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: bold;
}


