.box-area {
    min-height: 100vh;
    min-width: 100vw;
    /* height: fit-content; */
    overflow: hidden;
    width: fit-content;
}

.comment-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create-comment {
    text-align: center;
    padding-top: 40px;
    font-family: 'Cardo', serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
};
.new-comment-form {
    flex-direction: column;
    /* text-align: center; */
    padding: 50px 50px 50px 50px;
    font-family: 'Cardo', serif;
    color: white;
    display: flex;
    border: 2px black solid;
    justify-self: center;
    border-radius: 30px;
    margin-left: 500px;
}


form {
    display: flex;
    flex-direction: column;
}
