.box-area {
    min-height: 100vh;
    min-width: 100vw;
    height: fit-content;
    overflow: hidden;
    width: fit-content;
}

.animation-area {
    padding-bottom: 100vh;
    overflow: hidden;
}

.comment-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create-comment {
    text-align: center;
    padding-top: 40px;
    font-family: 'Cardo', serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
};
.new-comment-form {
    flex-direction: column;
    /* text-align: center; */
    padding: 50px 50px 50px 50px;
    font-family: 'Cardo', serif;
    color: white;
    display: flex;
    border: 2px black solid;
    justify-self: center;
    border-radius: 30px;
    margin-left: 500px;
}


form {
    display: flex;
    flex-direction: column;
}

#comment-form {
    width: 80%;
    margin: 20px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.comment {
    width: 40vw;
    /* margin: 10px; */
    height: 80px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    /* resize: none; */
    padding: 12px;
    margin-top: ;
    margin-left: -45vw;
    resize: none;
}

#add-comment {
    display:flex;
    font-size: 20px;
    margin-top: 12vh;
    margin-bottom: 14px;
    padding: 10px;
    border: 0px;
    background-color:#ffffff80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px black solid;
    /* float:right; */
    /* justify-self: end; */
    width: 150px;
    margin-left: 24vw;
    z-index: 10;
}

#add-comment:hover, #update-comment:hover{
    background-color: #ffffff;
}

.update-comment{
    width: 80%;
    margin: 10px;
    height: 100px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    resize: none;
    padding: 12px;
    margin-top: -.5vh;
    margin-left: -10vw;
    margin-bottom: 3vh;
}

#update-comment {
    display:flex;
    font-size: 20px;
    margin-top: -10.5vh;
    margin-bottom: 20px;
    padding: 10px;
    border: 0px;
    background-color:#ffffff80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px black solid;
    /* float:right; */
    /* justify-self: end; */
    width: 180px;
    margin-left: 44vw;
    z-index: 10;
}