* {
    overflow: hidden;
}
.login-with-google {
    margin: auto;
    padding-top: 10px;
    font-family: 'Cardo', serif;
}
#about {
    text-align: center;
    padding-top: 5vh;
    font-family: 'Cardo', serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.about-form {
    padding: 2vw;
    font-family: 'Cardo', serif;
    color: white;
    display: flex;
    border: 2px black solid;
    justify-content: center;
    text-align: center;
    margin: 20px 200px;
    border-radius: 30px;
}

#home #home-link{
    text-decoration: none;
}

#home {
    padding: 1vh;
}

#home-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home:hover {
    font-weight: bold;
    cursor: pointer;
}

.about-nav {
    height: 4vh;
    padding: 1vh 0 3.8vw 2vw;
    border-bottom: 2px solid black;
    z-index: 10;
}

.about-nav a {
    color: black;
    text-decoration: none;
}

.about-nav a:hover {
    color: white;
}