* {
    /* overflow: hidden; */
}
.login-with-google {
    margin: auto;
    padding-top: 10px;
    font-family: 'Cardo', serif;
}
#about {
    text-align: center;
    padding-top: 5vh;
    font-family: 'Cardo', serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.about-form {
    padding: 2vw;
    font-family: 'Cardo', serif;
    color: white;
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    justify-content: center;
    margin: 20px 200px;
    border-radius: 30px;
}

.animation-area {
    height: 100%;
    overflow: scroll;
    padding-bottom: 5vh;
}

.box-area {
    min-height: 100vh;
    width: fit-content;
    overflow: hidden;
}

#how-to {
    list-style: square;
}

#home #home-link{
    text-decoration: none;
}

#home {
    padding: 1vh;
}

#home-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home:hover {
    font-weight: bold;
    cursor: pointer;
}

.about-nav {
    height: 4vh;
    padding: 1vh 0 3.8vw 2vw;
    border-bottom: 2px solid black;
    z-index: 10;
}

.about-nav a {
    color: black;
    text-decoration: none;
}

.about-nav a:hover {
    color: white;
}

iframe {
    position: relative;
    left: 14vw;
}
