<main><h1>Edit your dream here!</h1>

    <form action="/dreams/<%= dream._id %>?_method=PUT" method="POST">
    
    <textarea type="type" name="dream"><%=dream.dream%></textarea>
    
    <input type="submit" value="Update dream" />
    
    
    </form>
    
    </main>