<main><h1>Edit your dream here!</h1>
<% if(user) { %>
    <form action="/dreams/<%= context.dream._id %>?_method=PUT" method="POST">
    <textarea type="type" name="dream"><%=context.dream.dream%></textarea>
    <p>Are you comfortable publishing this dream? We recommend it, otherwise others will not be able to support you.</p>
    <input type="checkbox" name="published"> 
    <input type="submit" value="Update dream" />
    </form>
<% } else { %>
    <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
<% } %>
</main>