<body>
<h1>Dreams folder, Index.ejs</h1>

<% dreams.forEach(dream => { %>
    <li>
        <a href="/dreams/<%= dream._id %>"><%= dream.dream %></a>
    </li>
<% }) %>

<a href="/home">Home</a>
<a href="/dreamers/:id">My Profile</a>

</body>