<%- include ('../partials/header') %>
<link rel="stylesheet" href="/styles/dreams/edit.css">

<body>
    <% if(user) { %>
        <main>
        <div class="form">    
        <h1>Log a new dream:</h1>

        <% console.log("new.ejs: " + dreamer) %>
        <form action="/dreams" method="POST">
        
        <input type="hidden" name="Dreamer" value="<%=dreamer._id%>"/>
        
        <textarea type="type" class="dream" name="dream[]" placeholder="Add your dream here!"></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" placeholder="There are three main obstacles to every dream. Add the blargest obstacle here."></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" placeholder="There are three main obstacles to every dream. Add the second largest obstacle here."></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" placeholder="There are three main obstacles to every dream. Add the third largest obstacle here."></textarea>

        <h2><label class="checkbox"><input type="checkbox" name="published"> <span>Are you comfortable publishing this dream? We recommend it, otherwise others will not be able to support you.</span></label></h2>
        <!-- <input type="checkbox"> -->
        
        
        
        
        <input type="submit" class="submit" value="Submit dream" />
        
        
        </form>
       
    </div>
        <!-- <a href="dreamers/<%= //dreamer._id %>">Profile</a> -->
        </main>
    <% } else { %>
        <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
    <% } %>
</body>

<%- include ('../partials/footer') %>