<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/dreams/edit.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 


<body>


<!-- 
<div class = "banner-text">
    <h1>DREAMWEAVER</h1>

</div> -->
<div class="animation-area" style="overflow: scroll">
    <div class="nav">
        <ul id="nav">
            <% if (user) { %>
                <li><a href="/home">Home</a></li>
                <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                <li><a href="/how-to">How-To</a></li>
                <li><a href="/dreams">Dreams</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/auth/google">Login with Google</a></li>
            <% } %>
        </ul>
    </div>


    <% if(user) { %>
        <main>
        <div class="form">    
        <h1>Log a new dream:</h1>

        <form action="/dreams" method="POST">
        
        <input type="hidden" name="Dreamer" value="<%=dreamer._id%>"/>
        
        <textarea type="type" class="dream" name="dream[]" maxlength="240" placeholder="Add your dream here!"></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" maxlength="240" placeholder="There are three main obstacles to every dream. Add the blargest obstacle here."></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" maxlength="240"  placeholder="There are three main obstacles to every dream. Add the second largest obstacle here."></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" maxlength="240" placeholder="There are three main obstacles to every dream. Add the third largest obstacle here."></textarea>

        <h2><label class="checkbox"><input type="checkbox" name="published"> <span>Are you comfortable publishing this dream? We recommend it, otherwise others will not be able to support you.</span></label></h2>

        
        
        
        
        <input type="submit" class="submit" value="Submit dream" />
        
        
        </form>
       
    </div>

        </main>
    <% } else { %>
        <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
    <% } %>
</body>

