<%- include ('../partials/header') %>

<body>
    <% if(user) { %>
        <main><h1>Create your active dream here!</h1>

        <h1> <%=dreamer.name%></h1>
        <% console.log("new.ejs: " + dreamer) %>
        <form action="/dreams" method="POST">
        
        <input type="hidden" name="Dreamer" value="<%=dreamer._id%>"/>
        
        <textarea type="type" name="dream[]" placeholder="Add your dream here!"></textarea>

        <textarea type="type" name="obstacle[]" placeholder="There are three main obstacles to every dream. Add the biggest one here"></textarea>

        <textarea type="type" name="obstacle[]" placeholder="There are three main obstacles to every dream. Add the second biggest one here"></textarea>

        <textarea type="type" name="obstacle[]" placeholder="There are three main obstacles to every dream. Add the third biggest one here"></textarea>
        <p>Are you comfortable publishing this dream? We recommend it, otherwise others will not be able to support you.</p>
        <input type="checkbox" name="published"> 
        <!-- <input type="checkbox"> -->
        
        
        
        
        <input type="submit" value="Submit dream" />
        
        
        </form>
        
        <a href="/home">Home</a>
        <!-- <a href="dreamers/<%= //dreamer._id %>">Profile</a> -->
        </main>
    <% } else { %>
        <p>You must be <span><a href="/auth/google">logged in</a></span> to view this page.</p>
    <% } %>
</body>