<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/dreams/edit.css">
    </head>
    <ul class="box-area">
        <li class="bubble1 bubble"></li>
        <li class="bubble2 bubble"></li>
        <li class="bubble3 bubble"></li>
        <li class="bubble4 bubble"></li>
        <li class="bubble5 bubble"></li>
        <li class="bubble6 bubble"></li> 


<body>


<!-- 
<div class = "banner-text">
    <h1>DREAMWEAVER</h1>

</div> -->
<div class="animation-area" style="overflow: scroll">
    <div class="nav">
        <div id="logo">
        </div>
            <ul id="nav">
                <% if (user) { %>
                    <li><a href="/dreams">Home</a></li>
                    <li><a href="/dreamers/<%= user._id %>">Profile</a></li>
                    <li><a href="/how-to">How-To</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="/auth/google">Login with Google</a></li>
                <% } %>
            </ul>
    </div>


    <% if(user) { %>
        <main>
        <div class="form">    

        <form action="/dreams" method="POST">
        
        <input type="hidden" name="Dreamer" value="<%=dreamer._id%>"/>
        
        <textarea type="type" class="dream" name="dream[]" maxlength="140" placeholder="Add your dream here! You get 140 characters, so think carefully."></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" maxlength="140" placeholder="There are three main obstacles to every dream. Add the largest obstacle here."></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" maxlength="140"  placeholder="There are three main obstacles to every dream. Add the second largest obstacle here."></textarea>

        <textarea type="type" class="obstacle" name="obstacle[]" maxlength="140" placeholder="There are three main obstacles to every dream. Add the third largest obstacle here."></textarea>

        <h2><label class="checkbox"><input type="checkbox" name="published"> <span id="publish-text">Are you comfortable publishing this dream? We recommend it, otherwise others will not be able to support you.</span></label></h2>

        
        
        
        
        <input type="submit" class="submit" value="Submit dream" />
        
        
        </form>
       
    </div>

        </main>
        <% } else { %>
            <h1 id="logged-in">You must be logged in to view this page.</h1>
    
            <div id="dreamweaver-index-title">
                <h1>DREAMWEAVER<div id="subtitle" style="font-size: 40px; color: rgb(211, 209, 209); margin-top: -10px; margin-bottom: 10px; width: 1000px; text-shadow:-2px 0 rgb(107, 11, 91), 0 2px rgb(107, 11, 91), 2px 0 rgb(107, 11, 91), 0 -2px rgb(107, 11, 91);">Crowdsource your dreams</div></h1>
            <div class="buttons" style="margin-left: 40%">
                <h3><a href="/auth/google"><button id="login" style="font-size:20px; height: 45px; width: 110px; margin-left: 115%; padding: 10px 0 20px 0">Login</button></h3></a>
        <% } %>
</body>

