#title {
    display: flex;
    justify-content: center;
    padding: 1vw;
}

#input form {
    display: flex;
    flex-direction: column;
}

#input {
    display: flex;
    justify-content: center;
}

input[type=text] {
    width: 50vw;
    padding: 5px;
    border-radius: 5px;
}

#updateBtn {
    width: 10vw;
    position: relative;
    left: 20vw;
    padding: 5px;
}