@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
/* font-family: 'Stardos Stencil', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
/* font-family: 'Cardo', serif; */

.box-area {
    min-height: 100vh;
    height:fit-content;
    overflow: hidden;
}
.animation-area {
    height: 100%;
}
#profile {
    display: flex;
    justify-content: center;
}


#dream-profile {
    border: 2px solid black;
    border-radius: 5px;
    width: 73vw;
    margin: 2vh;
    padding: 1vw;
    /* background-color: #E0745C; */
    background-color: #ffffff60;
    /* color: black; */
    color: black;
}

#dream-profile a {
    color: black;
}

#account-info {
    display: flex;

}

#account-info ul {
    list-style-type: none;
}

#bio { 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2vh 0 2vh 6vh;
    width: 60vw;
    padding: 1vw;
}

#profile-buttons {
    margin: 5vh 0 0 5vh;
}

#dreams {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}

#profile-dreams {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    border-radius: 5px;
}

.dream {
    border: 2px solid rgb(0, 0, 0);
    width: 20vw; 
    height: fit-content;
    padding: 1vw;  
    border-radius: 20px;
    margin: 1.5vh;
    /* background-color:#FF8469; */
    background-color: #ffffff40;
    color: black;
}

.obstacles {
    list-style-type: square;
    margin: 5px 5px 5px 15px;
}

.numComments {
    display: flex;
    justify-content: center;

}

.dream-status {
    display: flex;
    justify-content: center;
    padding: 0 0 5px 0;
    color: black;
}

.edit-dream {
    display: flex;
    justify-content: center;
}

.dream a {
    color: black;
}

#delete-account {
    position: relative;
    left: 42vw;
    margin: 2vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vh;
    color: black; 
    /* background-color: #E0745C; */
    background-color: #ffffff40;
    font-family: "Cardo, serif";
}

#create-dream {
    margin: 2vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: .5vh;
    color: black; 
    text-decoration: none;
    /* background-color: #E0745C; */
    background-color: #ffffff40;
}

#create-dream:hover, #delete-account:hover {
    cursor: pointer;
    /* background-color: #FF8469; */
    background-color: #ffffff80;
}